:root {
    --border: 1px solid black;
    --background-color-opacity: rgb(118 191 231 / 70%);
    --background-color: rgb(21,161,220);
    /* primary-color */
    --main-brown: rgb(251,169,25);
    /* secondary-color */
    --main-green: rgb(73,183,73);
    /* accent1-color */
    --main-jade: #57A773;
    /* accent2-color */
    --padding: 10px;
    --box-shadow: 2px 4px 8px 3px rgba(0, 0, 0, 0.2), 2px 6px 10px 3px rgba(0, 0, 0, 0.19);
}

* {
    max-width: 1700px;
}
body {
    padding: 10px;

}
/* header------------------ */

header {
    background-color: var(--main-green);
    font-family: "Noto Serif", serif;
    display: grid;
    grid-template-columns: .5fr 1fr 2fr;
    position: relative;
    align-items: center;
}
/* --------------------------- header left ----------*/
.left img {
    padding: 15px;
    height: 100px;
    width: auto;
}

.center {
    padding: 20px;
}




 ul.menuLinks {
    list-style-type: none;
}

li {
    margin-right: 20px;
}

li a {
    text-decoration: none;
    color: black;
    display: block;
    font-size: large;
    padding:  10px;
}

#navMenu.open {
    max-height: 500px;
}

.menuLinks.open {
    display: flex;
    flex-direction: column;
}

.menuLinks a:hover {
    color: yellow;
}

#navMenu {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.5s ease-out;
    grid-column: span 3;
    text-align: center;
}

#menu {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 3em;
    

}

#menu.open::before {
    content: "X";
}

#menu::before {
    content: "\2630";

}


/* -------------------------------------------------------main------------------------------------------------------- */

main h1 {
    padding-left: 15px;
}

.toggleView {
    text-align: center;
    margin: 10px 0;
}

.toggleView button {
    margin: 0 5px;
    padding: 5px 10px;
    font-size: 15px;
    cursor: pointer;
    transition: background-color 0.3 s, color 0.3s;
}

.toggleView button.active {
    background-color: var(--main-green)
}

/*-------------------  list view styles --------------------*/

#cards.listView {
    display: block;
    background-color: #e4d6d6;
}

#cards.listView section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    padding-left: 15px;
    border-bottom: 1px solid black;
    background-color: #e4d6d6;
    text-align: left;
    align-items: center;
    line-height: auto;
}

#cards.listView section:nth-child(even) {
    background-color: #f2f2f2;
}



/*----------------------card view styles ---------------*/

#cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
    gap: 5px;
    padding: 5px;
    justify-content: center;
    text-align: center;
    background-color: #e4d6d6;
    box-shadow: 0 12px 32px rgba(107, 90, 90, 0.15);
    border: 5px solid black;
}

#cards section {
    border: 2px solid black;
    background-color: var(--background-color);
    overflow: hidden;
    box-sizing: border-box;
    padding: 10px;

}

#cards img {
    box-sizing: border-box;
    max-width: 100%;
    height: auto;
    object-fit: contain;
    display: block;
    margin: 0 auto;
    padding: 10px;
}

#cards h2, p {
    color: black;

}

#cards a {
    color: rgb(0, 0, 0);
    font-size: large;

}
#cards a:hover {
    color: yellow;

}
#cards p {
    font-family: Arial, Helvetica, sans-serif;
}

/* -----------------------------------------footer info ----------------------------------*/
footer {
    background-color: var(--main-green);
    font-family: "Noto Serif", serif;
    grid-template-columns: 1fr;
    text-align: center;

}

#city {
    font-weight: bold;
}

.info p {
    padding-left: 15px;
}

.social {
    flex-direction: column;
    align-items: center;
  }

.social img {
    height: 70px;
    width: 70px;
    padding: 20px;
  }
.social a {
    text-decoration: none;
  }

.designer p {
    color: black;
    line-height: 1.4;

}
