@media only screen and (min-width: 40em) {
    header {
        align-items: center;
        justify-content: space-between;
    }

    ul.menuLinks, ul.menuLinks.open {
        display: flex;
        justify-content: space-around;
    }



    nav {
        grid-template-rows: 1fr;
    }


    #menu {
        display: none;
    }
    #navMenu {
        max-height: 300px;
        grid-column: span 1;
        align-self: end;
    }

    footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        position: relative;
        align-items: center;
    }

    .weather {
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 0.5rem;
        align-items: start;
    }
    .info-main {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
    }

    #spotlight2 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 5px;
        padding: 5px;
        justify-content: center;
        text-align: center;
        background-color: #e4d6d6;
        box-shadow: 0 12px 32px rgba(107, 90, 90, 0.15);
        border: 5px solid black;
    }
    .card1 {
    grid-template-columns: 1fr 1fr;
    display: grid;
    column-gap: 10px;

}

}

@media only screen and (max-width: 60em) {
    ul.menuLinks, ul.menuLinks.open {
        display: flex;
        flex-direction: column;
        justify-content: space-around;

    }

    
}
