@media only screen and (min-width: 40em) {
    header {
        align-items: center;
        justify-content: space-between;
    }

    ul.menuLinks, ul.menuLinks.open {
        display: flex;
        justify-content: space-around;
    }



    nav {
        grid-template-rows: 1fr;
    }


    #menu {
        display: none;
    }
    #navMenu {
        max-height: 300px;
        grid-column: span 1;
        align-self: end;
    }

    footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        position: relative;
        align-items: center;
    }

    .weather {
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 0.5rem;
        align-items: start;
    }
    .info-main {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
    }

}

@media only screen and (max-width: 60em) {
    ul.menuLinks, ul.menuLinks.open {
        display: flex;
        flex-direction: column;
        justify-content: space-around;

    }

    
}
