@media only screen and (min-width: 40em) {
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    ul.menuLinks, ul.menuLinks.open {
        display: flex;
        justify-content: space-around;
    }



    nav {
        grid-template-rows: 1fr;
    }


    #menu {
        display: none;

    }

    .card1 {
        white-space: nowrap;
    }

    #courses {
        display: grid;
    }
}

@media screen and (max-width: 768px) {
    #courses {
        grid-template-columns: repeat(2, 1fr);
    }
}