:root {
    --border: 1px solid black;
    --background-color-opacity: rgb(153 226 255 / 70%);
    --background-color: rgb(14, 75, 75);
    /* primary-color */
    --main-brown: #472e0b;
    /* secondary-color */
    --main-orange: #e78d38;
    /* accent1-color */
    --main-jade: #57A773;
    /* accent2-color */
    --padding: 10px;
    --box-shadow: 2px 4px 8px 3px rgba(0, 0, 0, 0.2), 2px 6px 10px 3px rgba(0, 0, 0, 0.19);
}

* {
    margin: 0 auto;
    padding: 5px;
    box-sizing: border-box;
    max-width: 1200px;

}

body {
    font-family: "Mulish", sans-serif;
}



.header {
    background-color: var(--background-color);
    font-family: "Noto Serif", serif;
    display: grid;
    grid-template-columns: 1fr 1fr .5fr;
    position: relative;
    align-items: center;
}

.left img {
    width: 120px;
    height: auto;
    display: block;
}


.center span {
    margin: 0;
    font-size: 35px;
    text-align: center;
    color: white;

}


nav {
    background-color: black;
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.5s ease-out;

}
 nav ul {
    overflow: hidden;
 }

 nav.open {
    grid-template-rows: 1fr;
 }
#menu {
    font-size: 2rem;
    font-weight: 300;
    color: white;
    background:none;
    border:none;
    cursor: pointer;
    text-align: right;
    padding: .25rem 2vw;
}

.menuLinks a:hover {
    color: yellow;

}
.menuLinks li a {
    display: block;
    padding: .75rem 2vw;
    color: white;
    text-decoration: none;
}

ul.menuLinks {

    list-style-type: none;
}



#menu.open::before {
    content: "X"
}

#menu::before {
    content: "\2630";
}


h1 {
    display: grid;
    text-align: left;
    font-size: 32px;
}



.card1 {
    grid-template-columns: 2fr 1fr;
    display: grid;
    column-gap: 10px;

}



.course_work {
    width: 100%;
    padding: 0;
    background-color: rgb(237, 234, 234);
    align-items: flex-start;
    box-shadow: var(--box-shadow);

}

.card {
    text-align: center;
    width: 100%;

}

.buttons {
    background-color:rgb(237, 234, 234);
    box-shadow: var(--box-shadow);
    color: white;
}

.buttons button {
    background-color: black;
    color: white;
    width: 175px;
}

.buttons button:hover {
    color: yellow;
}

#courses {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: rgb(237, 234, 234);
    box-shadow: var(--box-shadow);
}

.course {
    margin-bottom: 15px;
    padding: 5px;
    border-radius: 8px;
    background-color: white;
    box-shadow: var(--box-shadow);
    width: 225px;
}

.completed {
    background-color: rgb(123, 26, 26);
    color: white;
}

.course-title {
    font-size: 12px;
    margin-bottom: 5px;
}

.course-description {
    margin-bottom: 5px;
}

.location {
    display: flex;
    flex-direction: column;
    grid-column-start: 2;
    width: 100%;
    background-color: rgb(237, 234, 234);
    box-shadow: var(--box-shadow);
    padding: 0;
}

figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem auto;
    text-align: center;
}

h2 {
    background-color: var(--background-color);
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    text-align: center;
    color: white;
    width: 100%;
    display: inline-block;
    word-wrap: break-word;
    line-height: 1.2;
}

#courses {
    width: 100%;
    display: inline-block;
    word-wrap: break-word;
    line-height: 1.2;
}

.navbar1 {
    list-style-position: inside;
}

footer {
    background-color: var(--background-color);
    height: auto;
    color: black;
    padding: 10px;
}

footer p {
    text-align: center;
    color: white;
}